<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{proj.name}}</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-12">
                <h4>Описание</h4>
                <hr>
                {{proj.description}}
            </div>
            <div class="col-sm-12">
                <h4>Оценки</h4>
                <hr>
                <div ng-repeat="criteria in criterias">
                    <h5 style="margin: 10px" style="background: #aaa">{{criteria.name}} <i class="fa fa-angle-right"></i></h5>
                    <div ng-repeat="value in criteria.values | orderBy:'value':true" style="margin: 20px">
                        <a ng-click="addMark(criteria.id, value.value)" style="padding-left: 10px">{{value.label}}</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <a ui-sref="expertAllProj" class="btn btn-primary">Назад к проектам</a>
            </div>
        </div>
    </div>
</div>ч