*{
    padding: 0;
    margin: 0;
}
html{
    width: 100%;
    height: 100%;
}
body{
    -webkit-font-smoothing: subpixel-antialiased !important;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility:    hidden;
    -ms-backface-visibility:     hidden; 
    
    width: 100%;
    min-height: 100%;
    background: #f2f2f2;
    font-family: "PT Sans";
    height: 100%;
}
a{
    color: #373737;
}
h2{
    font-size: 15px;
    margin-bottom: 20px;
}
.b-button{
    float: left;
    cursor: pointer;
    font-size: 12px;
    margin: 5px 10px;
    width: 100px;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 6px 0;
}
.b-button:hover{
    text-decoration: underline;
}
.b-button__green{
    background: #24d0a5;
}
.b-form{
    overflow: hidden;
}
.b-lable{
    display: block;
    float: left;
    font-size: 12px;
    margin-top: 20px;
    width: 120px;
    height: 35px;
}
.b-input{
    background: #f2f2f0;
    border: 1px solid #d4d4ca;
    color: #373737;
    float: left;
    padding: 10px 10px;
    margin: 10px;
    width: 200px;
    outline: none;
}
.b-textaria{
    background: #f2f2f0;
    border: 1px solid #d4d4ca;
    color: #373737;
    padding: 5px 10px;
    margin: 10px;
    width: 200px;
    height: 100px;
    resize: none;
    outline: none;
}
.container{
    height: 100%;
}
.b-mobile{
    min-width: 100%;
}
.b-wrapper{
    min-width: 1040px;
    min-height: 100%;
}
.b-wrapper_mobile{
    min-width: 100%;
}
.b-header{
    background: #373737;
    height: 62px;
    min-width: 1040px;
}
.b-header_mobile{
    height: 40px;
    min-width: 100%;
}
.b-header__contenter{
    width: 1024px;
    margin: 0 auto;
}
.b-header__logo{
    background: url("../images/logo.png");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 110px;
    height: 50px;
    margin: 6px 0px;
    display: block;
    float: left;
}
.b-header-menu{
    width: 500px;
    padding: 20px 0;
    margin-left: 40px;
    float: left;
}
.b-prev{
    float: left;
    color: #fff;
    text-decoration: none;
    width: 100%;
    text-align: center;
    margin: 10px 0;
}
.b-menu__item{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}
.b-menu__item a{
    color: #c5c5c5;
    font-size: 12px;
    text-decoration: none;
}
.b-menu_comment{
    font-size: 10px;
}
.b-header__logo_mobile{
    float: right;
    height: 28px;
    margin-right: 30px;
    width: 68px;
}
.b-header__prev{
    width: 30px;
    display: block;
    height: 100%;
    float: left;
}
.b-header__title{
    color: #fff;
    padding: 10px 0;
    float: left;
}
.b-main-dashboard{
    width: 1024px;
    margin: 0 auto;
    padding: 0 17px;
    overflow: hidden;
    padding-bottom: 60px;
}
.b-main-dashboard__stat-block{
    overflow: hidden;
}
.b-stat-block{
    display: inline-block;
    cursor: pointer;
    text-align: left;
    width: 218px;
    height: 100px;
    margin: 17px;
}
.b-stat-block:first-of-type{
    margin-left: 0px;
}
.b-stat-block:last-of-type{
    margin-right: 0px;
}
.b-stat-block_pink{
    background: #eb5767;
}
.b-stat-block_pink:hover{
    background: #eb6170;
}
.b-stat-block_orang{
    background: #f96f57;
}
.b-stat-block_orang:hover{
    background: #f67e69;
}
.b-stat-block_green{
    background: #4fceae;
}
.b-stat-block_green:hover{
    background: #71d0b8;
}
.b-stat-block_blue{
    background: #56c1e7;
}
.b-stat-block_blue:hover{
    background: #6ac6e7;
}
.b-stat-block__icon{
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
    height: 60%;
    width: 70px;
    float: left;
    margin: 9% 0px;
    border-right: 1px solid #fff;
}
.b-stat-block__icon_user{
    background-image: url("../images/user.png");
}
.b-stat-block__icon_group{
    background-image: url("../images/group.png");
}
.b-stat-block__icon_commit{
    background-image: url("../images/commit.png");
}
.b-stat-block__icon_line{
    background-image: url("../images/line.png");
}
.b-stat-block__stat{
    color: #fff;
    float: left;
    font-family: "PT Sans Caption";
    padding: 9% 20px;
    width: 106px;
    height: 60%;
}
.b-stat_val{
    font-size: 24px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 4px;
}
.b-stat_title{
    font-size: 10px;
}
.b-main-dashboard__graph{
    float: left;
    width: 50%;
}
.b-main-dashboard__top5{
    float: left;
    width: 50%;
}
.b-top5__item{
    background: #f2f2f0;
    border: 1px solid #d4d4ca;
    width: 100%;
    border-top: 0;
    padding: 6px 0;
    overflow: hidden;
    display: block;
}
.b-top5__item:first-child{
    border-top: 1px solid #d4d4ca;
}
.b-item__medal{
    border: 1px solid #7d7d7c;
    border-radius: 50px;
    float: left;
    margin-left: 20px;
}
.b-item__medal_gold{
    border: 1px solid #f8df8f;
}
.b-item__medal_gold .b-medal{
    background: #f8df8f;
    color: #fff;
}
.b-item__medal_silver{
    border: 1px solid #d9dad8;
}
.b-item__medal_silver .b-medal{
    background: #d9dad8;
}
.b-item__medal_bronze{
    border: 1px solid #c5aa87;
}
.b-item__medal_bronze .b-medal{
    background: #c5aa87;
}
.b-medal{
    color: #7d7d7c;
    border-radius: 50px;
    width: 20px;
    font-size: 10px;
    line-height: 10px;
    padding: 5px 0;
    text-align: center;
    margin: 1px;
}
.b-item__title{
    float: left;
    font-size: 14px;
    line-height: 24px;
    margin-left: 30px;
    margin-right: 30px;
    text-decoration: underline;
}
.b-item__rating{
    float: right;
    margin-right: 20px;
    font-size: 14px;
    line-height: 24px;
}
.b-item__arrow{
    float: right;
    border: 1px solid #7d7d7d;
    border-radius: 15px;
    color: #7d7d7d;
    padding: 0 6px;
    margin-right: 10px;
}
.b-item__checkbox{
    float: right;
    margin-right: 30px;
}
.b-main-dashboard__experts{
    width: 100%;
    float: left;
}
.b-expert{
    width: 29%;
    float: left;
    padding: 0 2%;
    margin: 5px 0;
}
.b-expert__photo{
    float: left;
    border-radius: 100px;
    width: 20%;
    margin-right: 4%;
}
.b-expert__info{
    float: left;
    width: 76%;
}
.b-expert-info__name{
    font-size: 13px;
    text-decoration: none;
}
.b-expert-info__name:hover{
    text-decoration: underline;
}
.b-expert-info__position{
    font-size: 11px;
    color: #c5c5c5;
}
.b-add-panel{
    width: 1024px;
    margin: 0 auto;
}
.b-add-proj{
    margin: 20px 0;
    width: 362px;
}
.b-proj{
    margin: 30px auto 0;
    width: 1024px;
}
.b-proj__info{
    float: left;
    width: 50%;
}
.b-proj__title{
    font-size: 40px;
}
.b-proj__des{
    font-size: 12px;
}
.b-proj__stat{
    float: left;
    width: 50%;
}
.b-footer-contener{
    float: left;
    height: 30px;
    text-align: center;
    width: 100%;
}
.b-footer-content{
    font-size: 11px;
    margin-top: -30px;
}


.b-main-loginform {
    width: 1024px;
    margin: 0 auto;
    padding: 17px 17px 0 17px;
    overflow: hidden;
    padding-bottom: 60px;
}
.b-loginform__input {
    height: 28px;
    width: 200px;
    padding: 0 1em;
    border: none;
    outline: 1px;
}
.b-loginform__label {
    font-size: 11px;
}
.b-loginform__buttons {
    margin-top: 10px;
}
.b-loginform__errormessage {
    font-size: 11px;
    margin-top: 10px;
}
.b-loginform__errormessage_red {
    color: red;
}

.b-butons {
    height: 30px;
    line-height: 30px;
    text-align: center;
    padding: 0 1em;
    border: none;
    cursor: pointer;
}
.b-butons__green {
    background: #4fceae;
}
.b-butons__green:hover {
    background: #71d0b8;
}
.b-butons__title {
    color: #ffffff;
    font-family: "PT Sans Caption";
}
