<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Список менеджеров</h3>
            </div>
            <div class="panel-body">
                <div>
                    <label>
                        Поиск:
                    </label>
                    <input ng-model="searchManager">
                </div>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Имя и Фамилия</th>
                        <th>Номер телефона</th>
                        <th>Email</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="manager in managers | filter : searchManager">
                        <td>{{manager.id}}</td>
                        <td>{{manager.full_name}}</td>
                        <td>{{manager.phone}}</td>
                        <td>{{manager.email}}</td>
                        <td>
                            <!--<a ui-sref="admin.managerEdit({id: manager.id})">
                                <i class="fa fa-pencil"></i>
                            </a>
                            -->
                            <a ng-click="delManager(manager.id)">
                                <i class="fa fa-times"></i>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>