<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Добавить менеджера</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-4">
                        <form role="form" ng-submit="add()" ng-model="manager">
                            <div class="form-group">
                                <label for="CVC267">Имя и Фамилия</label>
                                <input type="text"
                                       placeholder=""
                                       ui-mask=""
                                       name="CVC267"
                                       ng-model="manager.full_name"
                                       id="CVC267"
                                       required="required"
                                       class="form-control ">
                            </div>
                            <div class="form-group">
                                <label for="Awy036">Номер телефона</label>
                                <input type="text"
                                       ui-mask="+7(999) 999 - 99 - 99"
                                       name="Awy036"
                                       ng-model="manager.phone"
                                       id="Awy036"
                                       required="required"
                                       class="form-control "
                                       placeholder="+7(___) ___ - __ - __">
                            </div>
                            <div class="form-group">
                                <label for="uQB865">Email</label>
                                <input type="" placeholder=""
                                       ui-mask="" name="uQB865"
                                       ng-model="manager.email" id="uQB865"
                                       required="required"
                                       class="form-control ">
                            </div>
                            <div class="form-group">
                                <label for="uQB12qw2">Логин</label>
                                <input type="" placeholder=""
                                       ui-mask="" name="uQB12qw2"
                                       ng-model="manager.login" id="uQB12qw2"
                                       required="required"
                                       class="form-control ">
                            </div>
                            <div class="form-group">
                                <label for="YhE42d">Пароль</label>
                                <input type="password" placeholder=""
                                       ui-mask="" name="YhE42d"
                                       ng-model="manager.password" id="YhE42d"
                                       required="required"
                                       class="form-control ">
                            </div>
                            <button type="submit" class="btn btn-primary">Отправить</button>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>