<div class="b-wrapper">
    <div class="b-header">
        <div class="b-header__contenter">
            <div class="b-header__logo">

            </div>
            <div class="b-header-menu">
                <ul class="b-menu">
                    <li class="b-menu__item">
                        <a href="/#/">
                            Главная
                        </a>
                    </li>
                    <li class="b-menu__item">
                        <a href="">
                            Мероприятие
                        </a>
                    </li>
                    <li class="b-menu__item">
                        <a href="/#/mobile">
                            Проекты
                        </a>
                    </li>
                    <li class="b-menu__item">
                        <a href="/#/addProj">
                            Добавить мероприятие
                        </a>
                    </li>
                </ul>
            </div>
            <div class="b-header__auth">

            </div>
        </div>
    </div>

    <div class="b-contener">
        <div class="b-add-panel">
            <div class="b-add-proj">
                <h2>
                    Добавление проекта
                </h2>
                <div class="b-form">
                    <div>
                        <lable class="b-lable">Название проекта</lable>
                        <input class="b-input" type="text" ng-model="project.name" name="name">
                    </div>
                    <div>
                        <lable class="b-lable">Описание проекта</lable>
                        <textarea class="b-textaria" ng-model="project.description">

                        </textarea>
                    </div>

                    <div>
                        <lable class="b-lable">Ссылка на GitHub</lable>
                        <input  class="b-input" type="text" ng-model="project.git_url">
                    </div>
                    <div>
                        <label class="b-lable"></label>
                        <div  class="b-button b-button__green" ng-click="send()">Отправить</div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>