<div class="b-wrapper b-wrapper_mobile">
    <div class="b-header b-header_mobile">
        <div class="b-header__prev">

        </div>
        <div class="b-header__title">
            Список проектов
        </div>
        <div class="b-header__logo b-header__logo_mobile">

        </div>
    </div>
    <div class="b-contener">
        <label for="id_{{criteria.values[0].id}}" class="b-top5__item" ng-repeat="criteria in listCriteria">
            <div for="id_{{criteria.values[0].id}}" class="b-item__title">
                {{criteria.name}}
            </div>

            <div ng-repeat="value in criteria.values">
                <!--<select>
                    <option>

                    </option>
                </select>
                <input type="text"/>
                {{value.label}}
                -->
                <input type="checkbox" name="{{value.id}}" id="id_{{value.id}}" value="{{value.value}}"
                       class="b-item__checkbox">
            </div>
        </label>
        <div class="b-button b-button__green" ng-click="">
            Отправить
        </div>
    </div>
</div>