<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-8">
                        <h3 class="panel-title">
                            Список проектов
                        </h3>
                    </div>

                    <div class="col-sm-4">
                        <div class="pull-right">
                            <label>
                                Поиск:
                            </label>
                            <input ng-model="search" class="">
                        </div>
                    </div>
                </div>

            </div>
            <div class="panel-body">
                <table class="table table-condensed">
                    <thead>
                    <tr>
                        <th>Название проекта</th>
                        <th>Колличество баллов</th>
                    </tr>
                    </thead>
                    <tbody ng-repeat="proj in projects | filter : search">
                    <tr ui-sref="expertAddMark({id: proj.id})">
                        <td>{{proj.name}}</td>
                        <td>{{proj.mark}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>