<div class="b-wrapper b-wrapper_mobile">
    <div class="b-header b-header_mobile">
        <div class="b-header__prev">

        </div>
        <div class="b-header__title">
            Список проектов
        </div>
        <a href="/#/" class="b-header__logo b-header__logo_mobile">
        </a>
    </div>
    <div class="b-contener">
        <a href="/#/e_mark/{{proj.id}}" class="b-top5__item" ng-repeat="proj in listProj">
            <span  class="b-item__title">
                {{proj.name}}
            </span>
            <div class="b-item__arrow">
                >
            </div>
        </a>
    </div>
</div>